.discounts
	div.discounts__caption
		p.caption-dis-1  Подарите Вашему ребёнку незабываемое впечателние
		p.caption-dis-2 Новогодние скидки
		span 2017
	div.discount__timer
		div.timer__bg
		div.dis__head
			p Предложение ограничено
		div.dis__head-mob
			p.dhm-1 Успей получить бесплатно
			p.dhm-2 одну из 10 
				a накопительных карт
		div.dis__timer
			div.circle-time
				img(src="img/discounts/dis-hour.png", alt="")
			div.circle-time
				img(src="img/discounts/dis-minute.png", alt="")
			div.circle-time
				img(src="img/discounts/dis-sec.png", alt="")
		div.dis__desc 
			span.desc-1 Заполните форму 
			p и получите новогоднюю 
			span.desc-3 накопительную карту
		button(href="#order" data-toggle="modal").button Получить