.insta
	.container
		div.caption-section.cnsn_white
			div.caption-1
				p Мы в инстаграмме:
			div.caption-line
				img(src="img/banner/banner-line.png", alt="")
			div.caption-desc
				p Подписывайтесь, чтобы первым узнать о поступлении

		.insta-gallery
			each item in [1,2,3,4,5,6]
				div.insta-item
					img(src="img/insta/insta-item-2.png", alt="").item
					img(src="img/insta/multi-tab.svg", alt="").icon
					.insta-bg