.collection
	.container
		div.caption-section.cnsn_black
			a(name="top")
			div.caption-1
				p Коллекция
			div.caption-line
				img(src="img/black-line.png", alt="")
			div.caption-desc
				p Тренды этой осени
		div.collection__blocks.blocks-cn
			a(href="#girl").block-cn
				img(src="img/collection/collection-girl.png", alt="")
				div.block-cn__text
					p Для девочек
					p Осень 2017
			a(href="#boy").block-cn
				img(src="img/collection/collection-boy.png", alt="")
				div.block-cn__text
					p Для мальчиков
					p Осень 2017
			a(href="#newborns").block-cn
				img(src="img/collection/collection-newborns.png", alt="")
				div.block-cn__text
					p Для новорождённых
					p Осень 2017
			a(href="#accessories").block-cn
				img(src="img/collection/collection-toys.png", alt="")
				div.block-cn__text
					p Игрушки и сумки
					p Осень 2017
		a(name="top2")
		div.blocks-cn-mob
			a(href="#boy") Мальчикам
			a(href="#girl") Девочкам
			a(href="#newborns") Младенцам
			a(href="#accessories") Сумки