.quality
	.container
		div
			p.q-head Широкий ассортимент и высокое качество
			p Магазин одежды Alyakosh - это доступные цены, широкий, регулярно обновляемый ассортимент. В каталоге Alyakosh представлен большой ассортимент детской одежды и обуви, игрушек, сумок, аксессуаров и т.д. от лучших производителей Турции и Пекина

		div
			p.q-head Честная цена
			p На весь ассортимент товаров в нашем магазине действует правило доступной и честной цены

		div
			p.q-head Удобство
			p Для удобства пользования каталог поделён на раздела, все товары можно сортировать по категориям

		div
			p.q-head Бесплатная доставка
			p В нашем магазине предусмотрена бесплатная доставка до двери клиента

		div
			p.q-head Оплата при получении
			p Наши клиенты могут произвести оплату непосредственно после доставки курьеру наличными