#review-modal.modal.fade
    .modal-dialog
        .modal-content
            // Заголовок модального окна 
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-title Добавление отзыва
            // Основное содержимое модального окна 
            .modal-body
                form
                    label
                        img(src="img/form-input-1.png", alt="")
                        input(type="text" placeholder="Ваше имя: ")
                    div Укажите рейтинг
                        input(type="radio").radio-1
                        input(type="radio").radio-2
                        input(type="radio").radio-3
                        input(type="radio").radio-4
                        input(type="radio").radio-5
                    textarea(placeholder="Ваш отзыв: ")
            // Футер модального окна 
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
                button.btn.btn-primary(type='button') Добавить