.header
	.container
		div.header__logo.logo-h
			img(src="img/header/logo_alyakosh.png", alt="Логотип Alyakosh")
		div.header__categories.categ-h
			ul
				li
					a(href="#boy") Для мальчиков
				li
					a(href="#girl") Для девочек
				li
					a(href="#newborns") Для новорождённых
		div.header__phone.phone-h
			a(href="tel:")
				img(src="img/header/header-phone.svg", alt="")
				p 8 702
				span 282-66-05