.header
	display block
	z-index 20
	background-color white

	& > .container
		display flex
		justify-content: space-between

	.logo-h
		background-color #feff82
		padding: 10px 25px
		width 225px
		margin-right 30px
	
	.categ-h
		display flex
		align-items center

		ul
			display flex
			max-width 800px
			justify-content: flex-start

			li
				margin-right 25px

				a
					font-family 'FrizQuadrataC-Bold'
					font-size 16px
					color #5c5c5c
					text-decoration none
					padding 5px 0
					border-bottom 2px solid #d1d1d1
					

					&:hover
						color #ee2a2a
						border-bottom 2px solid #ee2a2a
	
	.phone-h
		width 225px
		display flex
		align-items center

		a
			display flex
			align-items center
			padding 10px 20px
			border-radius 30px
			border 1px solid #d4d4d4
			font-family 'OpenSans-SemiBold'
			font-size 16px
			color #505050
			background-color #ffffff

			&:hover
				text-decoration none

			img 
				margin-right 20px
			
			span 
				color #ee2a2a
				margin-left 5px