.footer
	.container
		div.footer__left
			p 2017 Alyakosh - магазин детской одежды. 8 702 282 66 05
		div.footer__right
			p Сайт создан при поддержке EST corporation 
			a(href="http://estshow.kz/") www.estshow.kz