.footer
	padding 20px 0
	background-color #ebebeb

	& > .container
		display flex
		justify-content: space-between
		align-items center
		font-family: 'OpenSans-Regular';
		
		.footer__left
			+media('xs')
				display none

		.footer__right
			display flex
			color #313131
			font-size 16px
			+media('xs')
				font-size 20px
				justify-content: space-between
				width 100%

			+media('xxs')
				flex-direction: column
				font-size 16px
				align-items: center
				text-align: center;

			a
				border-bottom: 1px dotted #707070
				margin-left 10px
				&:hover
					text-decoration: none
					cursor pointer
					color #cd2767
					border-bottom: 1px dotted #cd2767