.call
	div.call-caption.caption-section.cnsn_black_2
		div.caption-1
			p Позвоните прямо сейчас
		div.caption-line
			img(src="img/black-line.png", alt="")
		div.caption-desc
			p мы будем рады помочь
		
	div.call-phone
		a(href="tel:+87022826605")
			img(src="img/call/call-phone.svg", alt="")
			p 8 702
				span 282-66-05