// В файле libs.min.css прописаны стилевые свойства всех используемых в проекте библиотек и плагинов:
        // bootstrap.min.css
        // bootstrap-theme.min.css
        // reset.css
        // flexslider.css

// Шрифты
@import 'partials/_fonts.styl';

// Медиа-запросы
@import 'partials/_mediaqueries.styl';

// Общие стили
@import 'partials/_general.styl';

// Блоки
@import '../project/partials/button/button.styl';
@import '../project/partials/caption/caption.styl';
@import '../project/partials/tabs/tabs.styl';
@import '../project/partials/product/product.styl';



// Модальные окна
@import '../project/partials/modal/order.styl';

// Шапка
@import '../project/header/header.styl';

// Section
@import '../project/banner/banner.styl';
@import '../project/collection/collection.styl';
@import '../project/popular/popular.styl';
@import '../project/discounts/discounts.styl';
@import '../project/girl/girl.styl';
@import '../project/birthday/birthday.styl';
@import '../project/boy/boy.styl';
@import '../project/catalog/catalog.styl';
@import '../project/newborns/newborns.styl';
@import '../project/insta/insta.styl';
@import '../project/accessories/accessories.styl';
@import '../project/quality/quality.styl';
@import '../project/call/call.styl';

// Подвал
@import '../project/footer/footer.styl';

// Вызываем все закешированные медиаквери
apply_media_cache()