extends product-layout.pug

block content
    p Стильное платье для девочек школьного возраста. Изделие выполнено из высококачественной вискозы с добавлением эластана для лучшей посадки на фигуре
block title
    p Платье, Shened 
block price
    p 25 000 тг


block thumb
    img(src="img/popular/popular-product-1.png", alt="")
