.popular__product.product
    .product__rating
        div.rating-love
            img(src="img/popular/popular-rating.svg", alt="")
            img(src="img/popular/popular-rating.svg", alt="")
            img(src="img/popular/popular-rating.svg", alt="")
            img(src="img/popular/popular-rating.svg", alt="")
            img(src="img/popular/popular-rating-2.svg", alt="")
        .rating-num
            p +5.93
    .product__thumb
        block thumb
        .product-bg
        .product__content
            block content
        button.product__like
            div.like-text
                p Мне нравится!
            div.like-img
                img(src="img/popular/like.svg", alt="")
    .product__title
        .title-prod
            block title
        .price-prod
            block price
