.banner.br__position
	//- img(src="img/banner-backg.png", alt="" style="background: rgba(100, 33, 131, 1) ;").banner-background
	div.caption-be__logo.logo-mob
		img(src="img/banner/logo-mob.png", alt="")

	.banner__caption.caption-br.caption-section.cnsn_white
		div 
			p Детская одежда
		div 
			img(src="img/banner/banner-line.png", alt="")
		div
			p модная коллекция для мальчиков и девочек

	div.banner__text.text-br
		.text-br__tracery.tracery-ty-1
			img(src="img/banner/banner-tracery.png", alt="")

		.text-br__button.button-tr
			.button-tr__caption.caption-bntr
				p Каталог одежды
				p Нажмите и скачайте
				p Скачать каталог одежды
			button(href="#order" data-toggle="modal").button-tr__btn.btn-bntr.button
				| Скачать
		
		.text-br__tracery.tracery-ty-2
			img(src="img/banner/banner-tracery.png", alt="")
		
		a(href="#top").text-ty__mouse.mouse-ttty
			img(src="img/banner/banner-mouse.svg", alt="")
			img(src="img/banner/banner-arrow.svg", alt="")

	.tracery-bottom-1
		img(src="img/banner/banner-tracery-bottom.png", alt="")
	.tracery-bottom-2
		img(src="img/banner/banner-tracery-bottom.png", alt="")