// Open Sans
@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('../font/Open_Sans/OpenSans-SemiBold.ttf');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../font/Open_Sans/OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../font/Open_Sans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url('../font/Open_Sans/OpenSans-Light.ttf');
}

// Friz Quadratac C
@font-face {
    font-family: 'FrizQuadrataC-Bold';
    src: url('../font/FrizQuadrataC-Bold/FrizQuadrataC-Bold.otf');
}
@font-face {
    font-family: 'FrizQuadrataC';
    src: url('../font/FrizQuadrataC/FrizQuadrataC.otf');
}


// Vivaldi Script
@font-face {
    font-family: 'Vivaldi Script';
    src: url('../font/vivaldi_script/vivaldi_script.ttf');
}